.auth-form {
  padding: 24px 10px 10px 10px;
}

.input-container {
  margin-bottom: 16px;
  position: relative;
}

.rounded-input {
  border-radius: 30px !important;
  height: 50px;
  padding: 0 25px;
  border: 1px solid #d9d9d9;
  transition: all 0.3s;
}

.rounded-input:focus {
  border-color: #2e4d32; 
  box-shadow: 0 0 0 2px rgba(46, 77, 50, 0.1);
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-icon {
  position: absolute;
  right: 20px;
  font-size: 18px;
  color: #8c8c8c;
  cursor: pointer;
  z-index: 10;
}

.forgot-password-link {
  text-align: right;
  margin: -8px 5px 20px 0;
}

.forgot-password-link a {
  color: #d87a30; 
  font-size: 13px;
  font-weight: 500;
}

/* Бутон */
.auth-btn {
  border-radius: 30px;
  height: 50px;
  background-color: #2e4d32; 
  border: none;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-btn:hover {
  background-color: #3d6642 !important;
}

.name-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-bottom: 15px;
}

.mt {
  margin-top: 15px;
}

::ng-deep .ant-tabs-ink-bar {
  background: #2e4d32 !important; 
}

::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #2e4d32 !important; 
}