<div class="change-role-form">
    <p class="user-info">
        {{ user().fullName }} ({{ user().email }})
    </p>

    <nz-form-item>
        <nz-form-label nzRequired>{{ 'admin.user.role' | translate }}</nz-form-label>
        <nz-form-control>
            <nz-select [(ngModel)]="selectedRole">
                @for (role of roles; track role.value) {
                <nz-option [nzValue]="role.value"
                           [nzLabel]="role.labelKey | translate"></nz-option>
                }
            </nz-select>
        </nz-form-control>
    </nz-form-item>

    <div class="form-footer">
        <button nz-button
                nzType="default"
                type="button"
                (click)="onCancel()">
            {{ 'common.cancel' | translate }}
        </button>
        <button nz-button
                nzType="primary"
                type="submit"
                [nzLoading]="isSubmitting()"
                (click)="onSubmit()"
                class="submit-btn">
            {{ 'common.save' | translate }}
        </button>
    </div>
</div>