<form nz-form
      [formGroup]="form"
      nzLayout="vertical"
      (ngSubmit)="onSubmit()">

    <!-- Заглавие -->
    <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="24">
            <nz-form-item>
                <nz-form-label nzRequired>{{ 'admin.book.bookTitle' | translate }}</nz-form-label>
                <nz-form-control [nzErrorTip]="titleError">
                    <input nz-input
                           formControlName="title" />
                    <ng-template #titleError
                                 let-control>
                        @if (control.errors?.['required']) { {{ 'validation.required' | translate }} }
                        @else if (control.errors?.['maxlength']) { {{ 'validation.maxLength' | translate: { max: 300
                        }
                        }} }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
    </nz-row>

    <!-- Автор + Издателство -->
    <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label nzRequired>{{ 'admin.book.author' | translate }}</nz-form-label>
                <nz-form-control [nzErrorTip]="'validation.required' | translate">
                    <nz-select formControlName="authorId"
                               nzShowSearch
                               nzAllowClear>
                        @for (author of authors(); track author.id) {
                        <nz-option [nzValue]="author.id"
                                   [nzLabel]="author.name"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label nzRequired>{{ 'admin.book.publisher' | translate }}</nz-form-label>
                <nz-form-control [nzErrorTip]="'validation.required' | translate">
                    <nz-select formControlName="publisherId"
                               nzShowSearch
                               nzAllowClear>
                        @for (publisher of publishers(); track publisher.id) {
                        <nz-option [nzValue]="publisher.id"
                                   [nzLabel]="publisher.name"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
    </nz-row>

    <!-- ISBN + Страници + Година -->
    <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label nzRequired>ISBN</nz-form-label>
                <nz-form-control [nzErrorTip]="isbnError">
                    <input nz-input
                           formControlName="isbn" />
                    <ng-template #isbnError
                                 let-control>
                        @if (control.errors?.['required']) { {{ 'validation.required' | translate }} }
                        @else if (control.errors?.['invalidIsbn']) { {{ 'validation.invalidIsbn' | translate }} }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label nzRequired>{{ 'admin.book.pages' | translate }}</nz-form-label>
                <nz-form-control [nzErrorTip]="'validation.greaterThanZero' | translate">
                    <nz-input-number formControlName="pages"
                                     [nzMin]="1"
                                     [nzStep]="1"
                                     class="w-full"></nz-input-number>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label nzRequired>{{ 'admin.book.year' | translate }}</nz-form-label>
                <nz-form-control [nzErrorTip]="yearError">
                    <nz-input-number formControlName="publicationYear"
                                     [nzMin]="1001"
                                     [nzMax]="currentYear"
                                     [nzStep]="1"
                                     class="w-full"></nz-input-number>
                    <ng-template #yearError
                                 let-control>
                        @if (control.errors?.['min']) { {{ 'validation.yearMin' | translate }} }
                        @else if (control.errors?.['max']) { {{ 'validation.yearMax' | translate: { max: currentYear
                        }
                        }} }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
    </nz-row>

    <!-- Език + Вид корица + Общо копия + Налични копия -->
    <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label nzRequired>{{ 'admin.book.language' | translate }}</nz-form-label>
                <nz-form-control [nzErrorTip]="'validation.required' | translate">
                    <nz-select formControlName="language">
                        @for (lang of languages; track lang.value) {
                        <nz-option [nzValue]="lang.value"
                                   [nzLabel]="lang.labelKey | translate"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label nzRequired>{{ 'admin.book.coverType' | translate }}</nz-form-label>
                <nz-form-control [nzErrorTip]="'validation.required' | translate">
                    <nz-select formControlName="coverType">
                        @for (ct of coverTypes; track ct.value) {
                        <nz-option [nzValue]="ct.value"
                                   [nzLabel]="ct.labelKey | translate"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label nzRequired>{{ 'admin.book.totalCopies' | translate }}</nz-form-label>
                <nz-form-control [nzErrorTip]="'validation.nonNegative' | translate">
                    <nz-input-number formControlName="totalCopies"
                                     [nzMin]="0"
                                     [nzStep]="1"
                                     class="w-full"></nz-input-number>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label nzRequired>{{ 'admin.book.availableCopies' | translate }}</nz-form-label>
                <nz-form-control [nzErrorTip]="'validation.nonNegative' | translate">
                    <nz-input-number formControlName="availableCopies"
                                     [nzMin]="0"
                                     [nzStep]="1"
                                     class="w-full"></nz-input-number>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
    </nz-row>

    <!-- Жанрове -->
    <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="24">
            <nz-form-item>
                <nz-form-label nzRequired>{{ 'admin.book.genres' | translate }}</nz-form-label>
                <nz-form-control [nzErrorTip]="'validation.required' | translate">
                    <nz-select formControlName="genreIds"
                               nzMode="multiple"
                               nzShowSearch>
                        @if (fictionGenres().length > 0) {
                        <nz-option-group nzLabel="{{ 'book.filter.fictionGenres' | translate }}">
                            @for (genre of fictionGenres(); track genre.genreId) {
                            <nz-option [nzValue]="genre.genreId"
                                       [nzLabel]="genre.genreName"></nz-option>
                            }
                        </nz-option-group>
                        }
                        @if (nonFictionGenres().length > 0) {
                        <nz-option-group nzLabel="{{ 'book.filter.nonFictionGenres' | translate }}">
                            @for (genre of nonFictionGenres(); track genre.genreId) {
                            <nz-option [nzValue]="genre.genreId"
                                       [nzLabel]="genre.genreName"></nz-option>
                            }
                        </nz-option-group>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
    </nz-row>

    <!-- Описание -->
    <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="24">
            <nz-form-item>
                <nz-form-label>{{ 'admin.book.description' | translate }}</nz-form-label>
                <nz-form-control [nzErrorTip]="'validation.descriptionMaxLength' | translate">
                    <textarea nz-input
                              formControlName="description"
                              [nzAutosize]="{ minRows: 3, maxRows: 6 }">
                        </textarea>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
    </nz-row>

    <div class="form-footer">
        <button nz-button
                nzType="default"
                type="button"
                (click)="onCancel()">
            {{ 'common.cancel' | translate }}
        </button>
        <button nz-button
                nzType="primary"
                type="submit"
                [nzLoading]="isSubmitting()"
                class="submit-btn">
            {{ (isEditMode() ? 'common.save' : 'common.create') | translate }}
        </button>
    </div>

</form>