<nz-header class="light-header">
    <div class="header-container">
        <div class="header-left">
            <div class="brand-wrapper"
                 routerLink="/">
                <span class="brand-text">{{ 'header.title' | translate }}</span>
            </div>

            <ul nz-menu
                nzMode="horizontal"
                nzTheme="light"
                class="nav-menu">
                <li nz-menu-item
                    routerLink="/books"
                    nzMatchRouter>
                    <div class="menu-item-content">

                        <span class="menu-text">{{ 'header.books' | translate }}</span>
                    </div>
                </li>
                <li nz-menu-item
                    routerLink="/authors"
                    nzMatchRouter>
                    <div class="menu-item-content">

                        <span class="menu-text">{{ 'header.authors' | translate }}</span>
                    </div>
                </li>
                <li nz-menu-item
                    routerLink="/publishers"
                    nzMatchRouter>
                    <div class="menu-item-content">

                        <span class="menu-text">{{ 'header.publishers' | translate }}</span>
                    </div>
                </li>

                @if (authService.isAdmin()) {
                <li nz-submenu
                    nzTitle="{{ 'header.admin' | translate }}"
                    class="menu-text">
                    <ul>
                        <li nz-menu-item
                            routerLink="/admin/authors"
                            nzMatchRouter>
                            {{ 'header.authors' | translate }}
                        </li>
                        <li nz-menu-item
                            routerLink="/admin/publishers"
                            nzMatchRouter>
                            {{ 'header.publishers' | translate }}
                        </li>
                        <li nz-menu-item
                            routerLink="/admin/books"
                            nzMatchRouter>
                            {{ 'header.books' | translate }}
                        </li>
                        <li nz-menu-item
                            routerLink="/admin/borrowings"
                            nzMatchRouter>
                            {{ 'admin.borrowing.title' | translate }}
                        </li>
                        <li nz-menu-item
                            routerLink="/admin/users"
                            nzMatchRouter>
                            {{ 'header.users' | translate }}
                        </li>
                    </ul>
                </li>
                }
            </ul>
        </div>

        <div class="header-right">
            <a nz-dropdown
               [nzDropdownMenu]="langMenu"
               (nzVisibleChange)="isLangOpen = $event"
               nzTrigger="click"
               class="lang-trigger">
                <img [src]="lang() === 'bg' ? 'bg_flag.png' : 'en_flag.png'"
                     class="current-flag"
                     alt="flag">
                <span nz-icon
                      [nzType]="isLangOpen ? 'caret-up' : 'caret-down'"
                      nzTheme="fill"
                      class="dropdown-arrow"></span>
            </a>

            <nz-dropdown-menu #langMenu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item
                        [nzSelected]="lang() === 'bg'"
                        (click)="switchLanguage('bg')">
                        <img src="bg_flag.png"
                             class="menu-flag"> Български (БГ)
                    </li>
                    <li nz-menu-item
                        [nzSelected]="lang() === 'en'"
                        (click)="switchLanguage('en')">
                        <img src="en_flag.png"
                             class="menu-flag"> English (EN)
                    </li>
                </ul>
            </nz-dropdown-menu>

            @if (authService.isAuthenticated()) {
            <div class="user-section">
                <a nz-dropdown
                   [nzDropdownMenu]="userMenu"
                   (nzVisibleChange)="isUserOpen = $event"
                   nzTrigger="click"
                   class="user-trigger">
                    <div class="user-pill">
                        <span nz-icon
                              nzType="user"
                              nzTheme="outline"
                              class="user-main-icon"></span>
                        <span nz-icon
                              [nzType]="isUserOpen ? 'caret-up' : 'caret-down'"
                              nzTheme="fill"
                              class="dropdown-arrow"></span>
                    </div>
                </a>

                <nz-dropdown-menu #userMenu="nzDropdownMenu">
                    <ul nz-menu
                        class="user-menu">
                        <li nz-menu-group
                            [nzTitle]="userTitle">
                            <ng-template #userTitle>
                                <span class="logged-as">{{ 'header.loggedAs' | translate }}: <b>{{
                                        authService.currentUser()?.firstName
                                        }}</b></span>
                            </ng-template>
                        </li>
                        <li nz-menu-divider></li>
                        <li nz-menu-item
                            routerLink="/profile">
                            <span nz-icon
                                  nzType="idcard"></span> {{ 'header.profile' | translate }}
                        </li>
                        <li nz-menu-item
                            nzDanger
                            (click)="authService.logout(); isUserOpen = false">
                            <span nz-icon
                                  nzType="logout"></span> {{ 'header.logout' | translate }}
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </div>
            } @else {
            <button nz-button
                    nzType="primary"
                    nzShape="round"
                    (click)="openAuthModal()"
                    class="login-btn">
                {{ 'header.login' | translate }}
            </button>
            }
        </div>
    </div>
</nz-header>