<form #regForm="ngForm"
      (ngSubmit)="register()"
      class="auth-form">

       <div class="name-row">
              <input nz-input
                     name="firstName"
                     [(ngModel)]="registerData.firstName"
                     placeholder="{{ 'auth.register.firstNamePlaceholder' | translate }}"
                     required
                     maxlength="50"
                     class="rounded-input" />
              <input nz-input
                     name="lastName"
                     [(ngModel)]="registerData.lastName"
                     placeholder="{{ 'auth.register.lastNamePlaceholder' | translate }}"
                     required
                     maxlength="50"
                     class="rounded-input" />
       </div>

       <input nz-input
              name="email"
              [(ngModel)]="registerData.email"
              placeholder="{{ 'auth.register.emailPlaceholder' | translate }}"
              required
              [pattern]="emailPattern"
              class="rounded-input mt-15" />
       <input nz-input
              name="adress"
              [(ngModel)]="registerData.address"
              placeholder="{{ 'auth.register.addressPlaceholder' | translate }}"
              maxlength="500"
              class="rounded-input mt-15" />
       <input nz-input
              name="phoneNumber"
              [(ngModel)]="registerData.phoneNumber"
              placeholder="{{ 'auth.register.phoneNumberPlaceholder' | translate }}"
              maxlength="20"
              class="rounded-input mt-15" />

       <div class="password-wrapper mt-15">
              <input nz-input
                     type="password"
                     name="password"
                     [(ngModel)]="registerData.password"
                     placeholder="{{ 'auth.register.passwordPlaceholder' | translate }}"
                     required
                     [pattern]="passwordPattern"
                     class="rounded-input" />
       </div>

       <div class="password-hint">
              *{{ 'auth.register.passwordHint' | translate }}
       </div>

       <div class="password-wrapper mt-15">
              <input nz-input
                     type="password"
                     name="passwordAgain"
                     [(ngModel)]="registerData.passwordAgain"
                     placeholder="{{ 'auth.register.passwordAgainPlaceholder' | translate }}"
                     required
                     [pattern]="passwordPattern"
                     class="rounded-input" />
       </div>

       <button nz-button
               nzBlock
               nzType="primary"
               class="auth-btn mt-15"
               [nzLoading]="isLoading()"
               [disabled]="!regForm.valid">
              {{ 'auth.register.registerBtn' | translate }}
       </button>
</form>