<h3 class="section-title">{{ 'user.changePassword.title' | translate }}</h3>

<form nz-form
      [formGroup]="form"
      nzLayout="vertical"
      (ngSubmit)="onSubmit()">
    <nz-form-item>
        <nz-form-label nzRequired>{{ 'user.changePassword.currentPassword' | translate }}</nz-form-label>
        <nz-form-control [nzErrorTip]="'validation.required' | translate">
            <input nz-input
                   formControlName="currentPassword"
                   [type]="showCurrentPassword() ? 'text' : 'password'" />
        </nz-form-control>
    </nz-form-item>

    <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label nzRequired>{{ 'user.changePassword.newPassword' | translate }}</nz-form-label>
                <nz-form-control [nzErrorTip]="newPasswordError">
                    <input nz-input
                           formControlName="newPassword"
                           [type]="showNewPassword() ? 'text' : 'password'" />
                    <ng-template #newPasswordError
                                 let-control>
                        @if (control.errors?.['required']) { {{ 'validation.required' | translate }} }
                        @else if (control.errors?.['minlength']) { {{ 'validation.minLength' | translate: { min: 6 } }}
                        }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label nzRequired>{{ 'user.changePassword.confirmPassword' | translate }}</nz-form-label>
                <nz-form-control [nzErrorTip]="confirmPasswordError">
                    <input nz-input
                           formControlName="confirmPassword"
                           [type]="showConfirmPassword() ? 'text' : 'password'" />
                    <ng-template #confirmPasswordError
                                 let-control>
                        @if (control.errors?.['required']) { {{ 'validation.required' | translate }} }
                        @else if (form.errors?.['passwordMismatch']) { {{ 'validation.passwordMismatch' | translate }} }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
    </nz-row>

    <div class="form-actions">
        <button nz-button
                nzType="primary"
                type="submit"
                [nzLoading]="isSubmitting()">
            {{ 'user.changePassword.title' | translate }}
        </button>
    </div>
</form>