<div class="modal-content">

    <form #forgotForm="ngForm"
          (ngSubmit)="onSubmit()">
        <input nz-input
               name="email"
               [(ngModel)]="email"
               required
               [pattern]="emailPattern"
               [placeholder]="'user.forgottenPassword.emailPlaceholder' | translate"
               class="rounded-input" />

        <p class="description mt-15">{{ 'user.forgottenPassword.description' | translate }}</p>

        <button nz-button
                nzBlock
                nzType="primary"
                class="send-btn mt-15"
                [nzLoading]="isLoading()"
                [disabled]="!forgotForm.valid">
            {{ 'user.forgottenPassword.sendBtn' | translate }}
        </button>
    </form>
</div>